*{
    font-family: 'Kanit', sans-serif;
}

.flag{
    width: 100px;
}
.countryStyle{
    background-color: rgb(148, 151, 151);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 200px;
   

}

#country{
    display:grid;
    grid-template-columns: repeat(5, 0fr) ;
    
}