*{
    
    font-family: 'Kanit', sans-serif;
    align-items: center;
   
}

.flag{
    width: 200px;
    
}
.countryStyle{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.scrollbar
{
    height: 630px;
	overflow-y: scroll;	
}


